{% extends 'base.html.twig' %}

{% block blueBanner %}
    <div class="bg-primary">
        <div class="container">
            <h1 class="text-uppercase text-light fs-4 py-2">
                {{ 'preferences.banner' |trans }}
            </h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(changeAccountPassword_form) }}

    {% include 'preferences/tab.html.twig' %}

    <div class="card my-5">
        <div class="card-body">
            <h2 class="fs-5">Statistiques</h2>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="w-auto">
                    <div class="chart-container">
                        {{ render_chart(chart1) }}
                    </div>
                </div>
                <div class="w-auto">
                    <div class="chart-container">
                        {{ render_chart(chart2) }}
                    </div>
                </div>
                <div class="w-auto">
                    <div class="chart-container">
                        {{ render_chart(chart3) }}
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_PREMIUM') %}

            {% endif %}

            {% if is_granted('ROLE_FREEMIUM') %}
                <div>
                    <p>Nombres de demande de devis : 23</p>
                    <p>Nombre de demandes de mentorat : 06</p>
                </div>
            {% endif %}
        </div>
    </div>
    {{ form_end(changeAccountPassword_form) }}
{% endblock %}
