<div class="card-body px-5">
    {{ form_errors(changePasswordForm) }}
{{ form_start(changePasswordForm, {'method': 'POST'}) }}
    <h2 class="fs-5">{{ 'preferences.account'|trans }}</h2>
    <div class="form-floating mb-3">
        {{ form_widget(changePasswordForm.email) }}
        {{ form_label(changePasswordForm.email) }}
    </div>

    <button type="button" class="btn border-dark" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
        {{ 'preferences.btnChange' |trans }}
    </button>

    {% include 'preferences/modal.html.twig' %}
{{ form_end(changePasswordForm) }}
</div>
