{% extends 'base.html.twig' %}

{% block body %}

    <div class="container d-flex flex-row justify-content-center">
        <div class="container col-3 d-flex flex-column m-2">
            <div class="container d-flex flex-column bg-white mb-3 rounded-4 p-2">
                <img src="{{ company.getSrcPhoto() }}" alt="logo" class="rounded-5 m-3">
                <p class="text-center m-0">{{ company.name }}</p>
                <p class="text-center m-0">Adresse</p>
                <p class="text-center m-0 mb-4">Code postal Ville</p>
                <a href="#" class="btn border border-primary text-danger text-uppercase mb-3 mt-3 p-0 pt-2 pb-2">
                    Nos solutions en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                        <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                    </svg>
                </a>
            </div>
            <div class="container d-flex flex-column bg-white p-4 rounded-4">
                <h5 class="text-center fw-bold mb-3">{{ 'company.event'|trans }}</h5>
                {% for i in 0..2 %}
                <div class="m-2 d-flex flex-column border border-dark-subtle rounded-4 bg-body-tertiary ps-3 pt-2 pb-2">
                    <p class="text-primary m-0 ">title[....]</p>
                    <p class="fw-bold m-0 mb-2">date</p>
                    <a href="#" class="text-primary small">{{ 'company.learn_more'|trans }}</a>
                </div>
                {% endfor %}
                <a href="#" class="btn border border-2 border-black text-uppercase fw-bold mt-2 rounded-3">{{ 'company.see_all'|trans }}</a>
            </div>
        </div>
        <div class="container d-flex flex-column col-7 bg-white m-2 rounded-4 p-4 justify-content-between h-auto align-self-start">
            <div class="container mb-4">
                <h5 class="fw-bold mb-3">{{ 'company.about'|trans }}</h5>
                <p class="lh-sm">{{ company.about }}</p>
            </div>
            <div class="container mb-4">
                <h5 class="fw-bold mb-3">{{ 'company.photos'|trans }}</h5>
                <div class="d-flex flex-row flex-wrap justify-content-start">
                {% for i in 0..9 %}
                        <img src="https://via.placeholder.com/100" alt="photo" class="rounded-4 m-3">
                {% endfor %}
                </div>
            </div>
            <div class="container mb-4 d-flex flex-column">
                <h5 class="fw-bold mb-3">{{ 'company.videos'|trans }}</h5>
                {% for i in 0..3 %}
                <a href="#" class="text-secondary">https://link/to/the/video</a>
                {% endfor %}
            </div>
            <div class="container mb-4 d-flex flex-column p">
                <h5 class="fw-bold mb-3">{{ 'company.employees'|trans }}</h5>
                {% if company.users|length > 0 %}
                {% for user in company.users %}
                <div class="d-flex flex-row border border-dark-subtle shadow p-3 mb-4 rounded-4">
                    <div class="d-flex flex-column">
                        <img src="{{ user.getSrcPhoto() }}" alt="photo" class="rounded-4 mb-2">
                        <div class="d-flex flex-row justify-content-center">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope me-2" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                                </svg>
                            </a>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-column ms-5">
                        <p class="text-primary text-uppercase m-0">{{ user.nom }} {{ user.prenom }} - {{ user.job }}</p>
                        <p class="m-0">Travaille dans cette société</p>
                        <p class="m-0">Ville, Région</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p class="text-center">{{ 'company.no_employees'|trans }}</p>
                {% endif %}
            </div>
            <a href="#" class="btn border border-2 border-black text-uppercase fw-bold rounded-3">{{ 'company.see_more'|trans }}</a>
        </div>
        <div class="container d-flex flex-column col-2 bg-white m-2 ms-3 rounded-4 p-4 h-auto align-self-start align-items-center">
            <h5 class="text-center fw-bold mb-3">Live meetings</h5>
            {% for i in 0..5 %}
                <video controls class="m-2 rounded-2" width="100%" height="auto">
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                </video>
            {% endfor %}
        </div>
    </div>

{% endblock %}