<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap(['app']) }}
        {% endblock %}
    {% endblock %}
</head>

<body class="bg-dark">
{% block header %}
    {% set _route = app.request.get('_route') %}
    {% set navItems =  [
        {'route': 'app_index', 'title': 'menu.home'},
        {'route': 'app_search', 'title': 'menu.search'},
        {'route': 'app_contacts', 'title': 'menu.contacts'},
        {'route': 'app_events', 'title': 'menu.events'},
    ] %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_index') }}">
                    <img src="{{ asset('images/mysecu.png') }}" alt="logo" width="54" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% for navItem in navItems %}
                            <li class="nav-item">
                                <a class="nav-link text-light {{ _route == navItem.route ? 'active' : '' }}"
                                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %} data-bs-toggle="modal" data-bs-target="#modalLogin" href="#" {% else %}
                                            href="#" {% endif %}
                                > {{ navItem.title|trans }} </a>
                            </li>
                        {% endfor %}
                        <a href="#" class="btn " role="button">
                                    <span class="badge rounded-pill bg-light text-dark border border-dark pe-3 ps-2 d-flex align-items-center">
                                        <twig:UX:Icon name="flowbite:user-solid" width="20px" height="20px"/>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ app.user.firstname ~ ' ' ~ app.user.lastname }} {% else %} {{ 'menu.my_account'|trans }} {% endif %}
                                    </span>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container body-container mt-3">
    {% block body %}

    {% endblock %}
</div>

{% block footer %}
    {% set _route = app.request.get('_route') %}
    {% set footerLinks = [
        {'route': 'app_legal', 'title': 'footer.legal'},
        {'route': 'app_cookies', 'title': 'footer.cookies'},
        {'route': 'app_cgu', 'title': 'footer.cgu'},
        {'route': 'app_cgv', 'title': 'footer.cgv'},
    ] %}
    <footer class="p-3 border-top border-white bg-dark">
        <div class="container d-flex">
            <div class="text-uppercase text-light">
                mysecu 2023
            </div>
            <ul class="d-flex flex-row mb-0 list-unstyled ms-auto">
                {% for link in footerLinks %}
                    <li class="text-light px-4">
                        <a class="text-light text-decoration-none text-reset {{ _route == link.route ? 'active' : '' }}"
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %} data-bs-toggle="modal" data-bs-target="#modalLogin" href="#" {% else %}
                                    href="{{ path(link.route) }}" {% endif %}
                        >{{ link.title|trans }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
{% endblock %}
</body>
</html>
