{% block javascripts %}
    <script type="module">
        import '{{ asset('js/menu.js') }}';
    </script>
{% endblock %}
<header>
    {% set _route = app.request.get('_route') %}
    {% set navItems =  [
        {'route': 'app_contacts', 'title': 'menu.contacts'},
        {'route': 'app_events', 'title': 'menu.events'},
        ]
    %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% set logoPath =  'app_feed' %}
        {% else %}
            {% set logoPath =  'app_index' %}
        {% endif %}
        <div class="container">
            <a class="navbar-brand" href="{{ path(logoPath) }}">
                <img src="{{ asset('images/mysecu.png') }}" alt="logo" width="54" height="60">
            </a>
            {# Champ de recherche #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <twig:Header:SearchInput attributes='{{ {class: "col-4 d-flex flex-column"} }}' />
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% for navItem in navItems %}
                        <li class="nav-item">
                            <a class="nav-link text-light {{ _route == navItem.route ? 'active' : '' }}"
                                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %} data-bs-toggle="modal" data-bs-target="#modalLogin" href="#" {% else %}
                                        href="#" {% endif %}
                            > {{ navItem.title|trans }} </a>
                        </li>
                    {% endfor %}
                    <div class="dropdown align-self-center">
                        <a role="button"
                           class="badge rounded-pill bg-light text-dark border border-dark fw-medium fs-6 pe-3 gap-2 ps-2 d-flex align-items-center text-decoration-none"
                           href="{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ path('app_preferences') }}{% else %}#"{% endif %}
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %} data-bs-toggle="modal" data-bs-target="#modalLogin" {% endif %}
                           id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <twig:UX:Icon name="flowbite:user-solid" width="20px" height="20px"/>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ app.user.firstname ~ ' ' ~ app.user.lastname }} {% else %} {{ 'menu.my_account'|trans }} {% endif %}
                        </a>
                        <div class="account dropdown-menu dropdown-menu-end rounded-4" aria-labelledby="dropdownMenuButton">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="dropdown-item"
                                   href="{{ path('app_preferences') }}">{{ 'menu.preferences'|trans }}</a>
                                {% if is_granted('ROLE_VENDOR') %}
                                    <a class="dropdown-item"
                                       href="{{ path('app_company', {'id': app.user.vendorCompany.id}) }}">
                                        {{ 'menu.my_company'|trans }}
                                    </a>
                                    {% if app.user == app.user.vendorCompany.owner %}
                                        <a class="dropdown-item"
                                           href="{{ path('app_company_edit', {'id': app.user.vendorCompany.id}) }}">
                                            {{ 'menu.my_company_edit'|trans }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                                <a class="dropdown-item rounded-4" href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    {% include 'login/modal.html.twig' %}
</header>