<div>
    <h5 class="fw-bold mb-3">{{ 'company.employees'|trans }}</h5>
    {% if company.users|length > 0 %}
        <div id="user-list" class="mb-4">
            {% for user in this.getVisibleUsers %}
                <div class="d-flex flex-row border border-dark-subtle shadow p-3 mb-4 rounded-4 user-item">
                    <div class="d-flex flex-column">
                        <img src="{{ user.getSrcPhoto() }}" alt="photo" class="rounded-4 mb-2">
                        <div class="d-flex flex-row justify-content-center">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope me-2" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                                </svg>
                            </a>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-column ms-5">
                        <p class="text-primary text-uppercase m-0">{{ user.nom }} {{ user.prenom }} - {{ user.job }}</p>
                        <p class="m-0">{{ 'company.work_here'|trans }}</p>
                        <p class="m-0">Ville, Région</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if this.getVisibleUsers|length < company.users|length %}
            <button
                    class="btn border border-2 border-black text-uppercase fw-bold rounded-3 w-100"
                    data-action="click->live#update"
                    data-live-name="incrementVisibleUsersCount"
            >
                {{ 'company.see_more'|trans }}
            </button>
        {% endif %}
    {% else %}
        <p class="text-center">{{ 'company.no_employees'|trans }}</p>
    {% endif %}
</div>
