<div class="card-body px-5">
    <h2 class="fs-5">{{ 'preferences.account'|trans({}, 'security+intl-icu') }}</h2>
    <div class="mb-3">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="mb-3 position-relative">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
    </div>
    <button type="submit" class="btn border-dark">{{ 'preferences.btnChange' |trans({}, 'security+intl-icu') }}</button>
</div>
