<div {{ attributes.defaults(stimulus_controller('picture_preview')) }}>
    {{ form_errors(form) }}

    {{ form_start(form, {
        form: form ,
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    <div class="row mb-3 flex-wrap-reverse justify-content-between">
        <div class="gx-1 form-floating col-12 col-md-6 col-lg-2 col-xl-4">
            {{ form_widget(form.lastname.lastnameField) }}
            {{ form_label(form.lastname.lastnameField) }}
            {{ form_errors(form.lastname.lastnameField) }}
            {{ form_help(form.lastname.lastnameField) }}
        </div>
        <div class="gx-1 mb-3 mb-md-0 form-floating col-12 col-md-6 col-lg-2">
            {{ form_widget(form.function) }}
            {{ form_label(form.function) }}
            {{ form_errors(form.function) }}
            {{ form_help(form.function) }}
        </div>
        <div class="gx-1 mb-3 mb-lg-0 form-floating col-12 col-md-4 col-lg-2">
            {{ form_widget(form.language) }}
            {{ form_label(form.language) }}
            {{ form_errors(form.language) }}
            {{ form_help(form.language) }}
        </div>
        <div class="gx-1 mb-3 mb-lg-0 d-flex col-12 col-md-8 col-lg-6 col-xl-4">
            <img class="form-control img-fluid" style="max-width: 30%; padding: 0;" src="" alt=""
                 id="picturePreview">
            {{ form_widget(form.picture,{'attr': {'class': 'd-none'}}) }}
            {{ form_label(form.picture, null, {'label_attr': {'style': 'height: 100%', 'class': 'input-group-text ms-1 text-wrap'}}) }}
            {{ form_errors(form.picture) }}
            {# {{ form_help(form.picture) }} #}
        </div>
        {% if photoUploadError %}
            <div class="gx-1 d-flex col-12 align-items-end">
                <div class="invalid-feedback d-flex justify-content-end">{{ photoUploadError }}</div>
            </div>
        {% endif %}
    </div>

    <div class="row mb-3 justify-content-between">
        <div class="gx-1 mb-3 mb-md-0 form-floating col-12 col-md-6 col-lg-4">
            {{ form_widget(form.firstname.firstnameField) }}
            {{ form_label(form.firstname.firstnameField) }}
            {{ form_errors(form.firstname.firstnameField) }}
            {{ form_help(form.firstname.firstnameField) }}
        </div>
        <div class="gx-1 mb-3 mb-lg-0 form-floating col-12 col-md-6 col-lg-4">
            {{ form_widget(form.job) }}
            {{ form_label(form.job) }}
            {{ form_errors(form.job) }}
            {{ form_help(form.job) }}
        </div>
        <div class="gx-1 form-floating col-12 col-lg-4">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_help(form.email) }}
        </div>
    </div>

    <div class="row mb-3 justify-content-between">
        <div class="gx-1 mb-3 mb-lg-0 form-floating col-12 col-md-6 col-lg-4">
            {{ form_widget(form.company.companyField) }}
            {{ form_label(form.company.companyField) }}
            {{ form_errors(form.company.companyField) }}
            {{ form_help(form.company.companyField) }}
        </div>
        <div class="gx-1 mb-3 mb-lg-0 form-floating col-12 col-md-6 col-lg-4">
            {{ form_widget(form.expertise) }}
            {{ form_label(form.expertise) }}
            {{ form_errors(form.expertise) }}
            {{ form_help(form.expertise) }}
        </div>
        <div class="gx-1 form-floating col-12 col-md-6 col-lg-4 offset-sm-0 offset-md-6 offset-lg-0">
            {{ form_widget(form.plainPassword.password.first) }}
            {{ form_label(form.plainPassword.password.first) }}
            {{ form_errors(form.plainPassword.password.first) }}
            {{ form_help(form.plainPassword.password.first) }}
        </div>
    </div>

    <div class="row mb-3 justify-content-between flex-wrap-reverse">
        <div class="gx-1 form-floating col-12 col-md-6 col-lg-4">
            {{ form_widget(form.businessAddress.businessAddressField) }}
            {{ form_label(form.businessAddress.businessAddressField) }}
            {{ form_errors(form.businessAddress.businessAddressField) }}
            {{ form_help(form.businessAddress.businessAddressField) }}
        </div>
        <div class="gx-1 mb-3 mb-md-0 form-floating col-12 col-md-6 col-lg-2">
            {{ form_widget(form.city.cityField) }}
            {{ form_label(form.city.cityField) }}
            {{ form_errors(form.city.cityField) }}
            {{ form_help(form.city.cityField) }}
        </div>
        <div class="gx-1 form-floating mb-3 mb-lg-0 col-12 col-md-6 col-lg-2">
            {{ form_widget(form.postalCode.postalCodeField) }}
            {{ form_label(form.postalCode.postalCodeField) }}
            {{ form_errors(form.postalCode.postalCodeField) }}
            {{ form_help(form.postalCode.postalCodeField) }}
        </div>
        <div class="gx-1 form-floating mb-3 mb-lg-0 col-12 col-md-6 col-lg-4">
            {{ form_widget(form.plainPassword.password.second) }}
            {{ form_label(form.plainPassword.password.second) }}
            {{ form_errors(form.plainPassword.password.second) }}
            {{ form_help(form.plainPassword.password.second) }}
        </div>
    </div>

    {% if form.siretNumber is defined and form.vatNumber is defined %}
        <div class="row mb-3 justify-content-start">
            <div class="gx-1 mb-3 mb-md-0 form-floating col-12 col-md-6 col-lg-4">
                {{ form_widget(form.siretNumber) }}
                {{ form_label(form.siretNumber) }}
                {{ form_errors(form.siretNumber) }}
                {{ form_help(form.siretNumber) }}
            </div>
            <div class="gx-1 mb-3 mb-md-0 form-floating col-12 col-md-6 col-lg-4">
                {{ form_widget(form.vatNumber) }}
                {{ form_label(form.vatNumber) }}
                {{ form_errors(form.vatNumber) }}
                {{ form_help(form.vatNumber) }}
            </div>
        </div>
    {% endif %}

    <div class="row mb-3">
        {{ form_row(form.agreeTerms) }}
    </div>
    <div class="row mb-3 d-flex justify-content-center">
        <div class="col-8 col-md-4 d-flex justify-content-center">
            {{ form_row(form.submit) }}
        </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center">
        <div class="col-8 col-lg-6 col-xl-4 gap-3 d-flex justify-content-center text-center">
            {{ 'register.already_have_an_account' | trans({'%href%': path('app_login'), '%connect%': 'login.connect'|trans }) | raw }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
</div>

