<div {{ attributes }}>
    <div class="row">
        <div class="col mb-4">
            <form>
                <label class="form-label" for="postContent"></label>
                <textarea type="text" data-model="postContent" id="postContent"
                          class="form-control {{ _errors.has('postContent') ? 'is-invalid' }}"
                          rows="5" name="postContent" placeholder="{{ 'feed.post.your_post'|trans }}"
                          style="resize: none">
                </textarea>
                {% if _errors.has('postContent') %}
                    <div class="invalid-feedback">
                        {{ _errors.get('postContent') }}
                    </div>
                {% endif %}
            </form>
            <div class="d-flex flex-column">
                <twig:UploadPostMediaFiles/>
            </div>
        </div>
    </div>
    {#    <div class="row justify-content-start"> #}
    {# </div> #}
    <div class="row justify-content-end">
        <div class="col d-flex">
            <button
                    class="flex-fill btn btn-mysecu fw-bold"
                    data-action="click->live#action:prevent"
                    data-live-action-param="savePost">
                {{ 'feed.post.post'|trans }}
            </button>
        </div>
    </div>
</div>