<twig:feed:ModalCreatePost
photo="{{ app.user.getSrcPhoto }}"
firstname="{{ app.user.firstname }}"
lastname="{{ app.user.lastname }}"
job="{{ app.user.job }}"
expertise="{{ app.user.expertise }}"/>
<div class="d-flex flex-row border-bottom p-2 mb-3">
  <div class="col-1 p-1 me-1">
    <img src="{{ photo }}" class="rounded-circle img-fluid" alt="profile picture">
  </div>
  <div class="col-11 align-self-center d-flex p-1">
    <button type="button" class="btn justify-content-start d-flex flex-fill rounded-3 btn-post-feed"
      data-bs-toggle="modal"
      data-bs-target="#createPostModal"
    >
      {{ 'feed.post.create'|trans }}
    </button>
  </div>
</div>